<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543577180257-365vro5bekt026up8u6i3f38lsd2s3o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543577180257-365vro5bekt026up8u6i3f38lsd2s3o2</string>
	<key>API_KEY</key>
	<string>AIzaSyAadjVTijrckzMdNdEzlLngl-1djXV0sDg</string>
	<key>GCM_SENDER_ID</key>
	<string>543577180257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplanetbit.diccionario.panocho</string>
	<key>PROJECT_ID</key>
	<string>diccionario-de-panocho</string>
	<key>STORAGE_BUCKET</key>
	<string>diccionario-de-panocho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543577180257:ios:82e96d3395b21dd5880220</string>
</dict>
</plist>