<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975579300298-otppfcgmqhph48afoqb7ivr94cjdu4gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975579300298-otppfcgmqhph48afoqb7ivr94cjdu4gf</string>
	<key>API_KEY</key>
	<string>AIzaSyCbzNVc9_JCsyMJxquXohgPrBW7jKwpdyA</string>
	<key>GCM_SENDER_ID</key>
	<string>975579300298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplanetbit.diccionario.panocho</string>
	<key>PROJECT_ID</key>
	<string>dicctionario-panocho</string>
	<key>STORAGE_BUCKET</key>
	<string>diccionario-panocho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975579300298:ios:4807d36008eff99f348f33</string>
</dict>
</plist>